/*couleurs*/
/*polices*/
@font-face {
  font-family: "devonshire";
  src: url("police/devonshire/Devonshire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans";
  src: url("police/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("police/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "kaushan";
  src: url("police/kaushan-script/KaushanScript-Regular.otf") format("opentype");
}
@font-face {
  font-family: "darleston";
  src: url("police/darleston/Darleston.otf") format("opentype");
}
@font-face {
  font-family: "dancing";
  src: url("police/dancing-script-ot/DancingScript-Regular.otf") format("opentype");
}
@font-face {
  font-family: "croissant";
  src: url("police/croissant-one/CroissantOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "kalam";
  src: url("police/kalam/Kalam-Regular.ttf") format("truetype");
}
body, h1, h3, p {
  margin: 0;
}

body {
  width: 90%;
  margin: auto;
}

h1 a {
  text-decoration: none;
  color: #f0C64C;
}

main {
  width: 80%;
  margin: auto;
  margin-bottom: 150px;
}
main h2 {
  text-align: center;
  font-family: sans-serif;
}
main .bold {
  font-weight: bold;
}

.short {
  width: 80%;
  margin: auto;
}

#menu_1 {
  background-color: #fcdfdb;
  color: #3d1319;
  padding-bottom: 40px;
  font-family: kalam;
}
#menu_1 #titre_menu_1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
#menu_1 #titre_menu_1 h2 {
  font-family: devonshire;
  font-size: 3em;
  font-weight: normal;
}
#menu_1 #titre_menu_1 i {
  background: -webkit-linear-gradient(left, #d42828, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}
#menu_1 img {
  width: 30%;
  max-height: 20px;
}
#menu_1 .border {
  background-color: transparent;
  height: 2px;
}
#menu_1 .intersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.25em;
}
#menu_1 .intersection .btn:hover .border {
  background-color: #3d1319;
  height: 2px;
  transform-origin: left;
  animation: border 1s;
}
#menu_1 section {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}
#menu_1 section p {
  padding-bottom: 10px;
}
#menu_1 section.short {
  width: 80%;
  margin: auto;
}
#menu_1 #note-fin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#menu_1 #note-fin span {
  font-family: devonshire;
  font-size: 1.5em;
}
#menu_1 #note-fin i {
  background: -webkit-linear-gradient(left, #d42828, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  padding-right: 10px;
}

/*Menu2*/
#menu_2 {
  background-color: #fff5fe;
  padding-bottom: 40px;
  font-family: typocomics;
}
#menu_2 #titre_menu_2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
#menu_2 #titre_menu_2 span {
  background: -webkit-linear-gradient(left, #d8852e, #945ef6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: typocomics;
  font-size: 2.5em;
}
#menu_2 img {
  width: 30%;
  max-height: 15px;
}
#menu_2 .intersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#menu_2 #menu_2_1 {
  color: #c67412;
}
#menu_2 #menu_2_2 {
  color: #a56799;
}
#menu_2 #menu_2_3 {
  color: #6e4ccc;
}
#menu_2 section {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}
#menu_2 section.short {
  width: 80%;
  margin: auto;
}
#menu_2 p {
  padding-bottom: 10px;
}

/*menu 3*/
#menu_3 {
  background-color: #fff5fe;
  padding-bottom: 40px;
  font-family: kalam;
}
#menu_3 #titre_menu_3 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
#menu_3 #titre_menu_3 span {
  background: -webkit-linear-gradient(left, #0531df, #0b88fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: dancing;
  font-size: 2em;
  font-weight: normal;
}
#menu_3 img {
  width: 30%;
  max-height: 15px;
}
#menu_3 .intersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#menu_3 .intersection h3 {
  font-weight: normal;
}
#menu_3 section {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}
#menu_3 p {
  padding-bottom: 10px;
}

/*menu 4*/
#menu_4 {
  background-color: #fff5fe;
  padding-bottom: 40px;
  font-family: kalam;
}
#menu_4 #titre_menu_4 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
#menu_4 #titre_menu_4 span {
  background: -webkit-linear-gradient(left, #419636, #80cb5e, #b5f77a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: kaushan;
  font-size: 2em;
  font-weight: normal;
}
#menu_4 img {
  width: 30%;
  max-height: 15px;
}
#menu_4 .intersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#menu_4 .intersection h3 {
  font-weight: normal;
}
#menu_4 section {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}
#menu_4 p {
  padding-bottom: 10px;
}

@keyframes border {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@media screen and (min-width: 992px) {
  main {
    width: 70%;
  }

  #menu_1 section {
    text-align: justify;
  }

  #menu_2 section {
    text-align: justify;
  }

  #menu_3 section {
    text-align: justify;
  }

  #menu_4 section {
    text-align: justify;
  }

  .display {
    display: flex;
    justify-content: space-between;
  }
}
header {
  background-color: #579c87;
  color: #f0C64C;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: open-sans;
}

footer {
  background-color: #579c87;
  color: #f0C64C;
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  right: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 20px;
}
footer a {
  color: #f0C64C;
  text-decoration: none;
  text-align: center;
}
footer p {
  text-align: center;
}

@media screen and (min-width: 992px) {
  header {
    font-size: 3.5em;
  }

  footer p:hover {
    animation: shake 1.5s;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

/*# sourceMappingURL=style_menu.css.map */
