body, h1,h3,p {
    margin: 0;
}

body {
    width: 90%;
    margin: auto;
}
h1 a {
    text-decoration: none;
    color: $colour-yellow;
}
main {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;

    & h2 {
        text-align: center;
        font-family: sans-serif;
    }
    
    & .bold {
        font-weight: bold;
    }  
}
.short {
    width: 80%;
    margin: auto;
}

#menu_1 {
    background-color: $colour-menu-1;
    color: $colour-bdx;
    padding-bottom: 40px;
    font-family: kalam;


    & #titre_menu_1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 60px;

        & h2 {
            font-family: devonshire;
            font-size: 3em;
            font-weight: normal;
        }

        & i {
            @include deg-note;
            font-size: 4em;
        }
    }

    & img {
        width: 30%;
        max-height: 20px;
    }

    .border {
        background-color: transparent;
        height: 2px;
    }

    & .intersection {
        @include display;
        margin-bottom: 40px;
        font-size: 1.25em;

        & .btn {
            &:hover {
                & .border {
                    background-color: $colour-bdx;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }
            }
        }
    }



    & section {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 80px;

        & p {
            padding-bottom: 10px;
        }

        &.short {
            width: 80%;
            margin: auto;
        }
    }

    & #note-fin {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & span {
            font-family: devonshire;
            font-size: 1.5em;
        }

        & i {
            @include deg-note;
            font-size: 2em;
            padding-right: 10px;
        }
    }
}
/*Menu2*/
#menu_2 {
    background-color: $colour-menu;
    padding-bottom: 40px;
    font-family: typocomics;

    & #titre_menu_2 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;

        & span {
            @include deg-1;
            font-family: typocomics;
            font-size: 2.5em;
        }
    }

    & img {
        width: 30%;
        max-height: 15px;
    }

    .border {
        background-color: transparent;
        height: 2px;
    }

    & .intersection {
        @include display;
        margin-bottom: 40px;

        & .btn {
            &:hover {
                & .color1 {
                    background-color: #c67412;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }

                & .color2 {
                    background-color: #a56799;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }

                & .color3 {
                    background-color: #6e4ccc;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }
            }
        }
    }

    & #menu_2_1 {
        color: #c67412;
    }

    & #menu_2_2 {
        color: #a56799;
    }

    & #menu_2_3 {
        color: #6e4ccc;
    }

    & section {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 80px;

        &.short {
            width: 80%;
            margin: auto;
        }
    }

    & p {
        padding-bottom: 10px;
    }
}
/*menu 3*/
#menu_3 {
    background-color: $colour-menu;
    padding-bottom: 40px;
    font-family: kalam;

    & #titre_menu_3 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;

        & span {
            @include deg-2;
            font-family: dancing;
            font-size: 2em;
            font-weight: normal;
        }
    }

    & img {
        width: 30%;
        max-height: 15px;
    }

    .border {
        background-color: transparent;
        height: 2px;
    }

    & .intersection {
        @include display;
        margin-bottom: 40px;

        & .btn {
            &:hover {
                & .border {
                    background-color: black;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }
            }
        }

        & h3 {
            font-weight: normal;
        }
    }

    & section {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 80px;
    }

    & p {
        padding-bottom: 10px;
    }
}
/*menu 4*/
#menu_4 {
    background-color: $colour-menu;
    padding-bottom: 40px;
    font-family: kalam;

    & #titre_menu_4 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;

        & span {
            @include deg-3;
            font-family: kaushan;
            font-size: 2em;
            font-weight: normal;
        }
    }

    & img {
        width: 30%;
        max-height: 15px;
    }

    .border {
        background-color: transparent;
        height: 2px;
    }

    & .intersection {
        @include display;
        margin-bottom: 40px;

        & .btn {
            &:hover {
                & .border {
                    background-color: black;
                    height: 2px;
                    transform-origin: left;
                    animation: border 1s;
                }
            }
        }

        & h3 {
            font-weight: normal;
        }
    }

    & section {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 80px;
    }

    & p {
        padding-bottom: 10px;
    }
}
@keyframes border {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}


@media screen and (min-width:992px){
    main{
        width:70%;
    }
    #menu_1 {
        & #titre_menu_1 {
            padding-top: 60px;
        }
    }
    
    #menu_1 section {
            text-align: justify;
    }
    #menu_2 section {      
       text-align: justify;           
        
    }
    
    #menu_3 section {
        text-align: justify;
    }
    #menu_4 section {
        text-align: justify;
    }
    .display{
        display:flex;
        justify-content:space-between;
    }
}