
body,h1,p{
    margin:0;
}
body{
    width:90%;
    margin:auto;
}
main{
    margin-bottom:150px;
}

#search {
    & input {
        border: none;
        width: 100%;
        background-color: lightgrey;
    }
    border: 2px lightgrey solid;
    background-color: lightgrey;
    display: flex;
    font-size:2em;
    padding:5px;
}

#main_menu {
    width: 90%;
    margin: auto;
    margin-top: 50px;

    #main_menu_1 {
        background-color: $colour-menu-1;
        color: $colour-bdx;
        
        

        & i {
            @include deg-note;
            font-size: 3.5em;
            margin-bottom: 20px;
        }

        & p {
            font-family: devonshire;
        }

        & a {
            color: $colour-bdx;
            font-family: kalam;
        }
    }

    #main_menu_2 {
        background-color: $colour-menu;


        & p {
            @include deg-1;
        }

        & a {
            color: #c67412;
        }
    }

    #main_menu_3 {
        background-color: $colour-menu;

        & p {
            @include deg-2;
            font-family: dancing;
        }

        & a {
            color: #229df9;
            font-family: kalam;
            font-weight: normal;
        }       
    }

    #main_menu_4 {
        background-color: $colour-menu;

        & p {
            @include deg-3;
            font-family: kaushan;
        }

        & a {
            color: #81cb5f;
            font-family: kalam;
            font-weight: normal;
        }        
    }

    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
        width: 90%;
        max-width: 300px;
        height: 500px;
        margin: auto;
        margin-bottom: 40px;
        border: 2px rgba(0, 0, 0, 0.05) solid;
        overflow:hidden;

        & a {
            text-decoration: none;
            font-size: 1.4em;
        }

        & p {
            font-size: 1.3em;
        }
    }
}

#soon {
    @include bloc-vert;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    margin: auto;
    font-size: 1.5em;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        padding-right: 5px;
    }

    & div {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        border-radius: 100%;
        background-color: $colour-yellow;
        animation: anim 1s backwards infinite;
        animation-direction:alternate;
    }

    .anim1 {
        animation-delay: 0.3s;
    }

    .anim2 {
        animation-delay: 0.6s;
    }

    .anim3 {
        animation-delay: 0.9s;
    }
}
@keyframes anim{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-10px);
    }
}

#mentions {
    text-align: center;
}

@media screen and (min-width: 992px){
    input{
        background-color:lightgrey;
    }
    #main_menu {       

        & section {
            font-size: 1.3em;
            max-width: 500px;
            height: 650px;
        }

        & .bloc_menu {
            display: flex;
            justify-content: space-between;
        }
    }
    #main_menu_1 {
            .zoom {
                text-align: center;
                transform: scale(1);
                transition-property: transform;
                transition-duration: 1s;

                &:hover {
                    transform: scale(1.2);
                    opacity: 0.5;
                }
            }
        }
    #main_menu_2 {
        .zoom {
            text-align: center;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 1s;

            &:hover {
                transform: scale(1.2);
                opacity: 0.5;
            }
        }
    }
    #main_menu_3 {
        .zoom {
            text-align: center;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 1s;

            &:hover {
                transform: scale(1.15);
                opacity: 0.5;
            }
        }
    }
#main_menu_4 {
    .zoom {
        text-align: center;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 1s;

        &:hover {
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
}
}